<link rel="stylesheet" href="/css/footer.css">

<footer>
    <h2>Sane-Blogger</h2>
    <p>All rights reserved. Copyright @SaneBlogger</p>
    <ul id="footerSocialLinks">
        <li>
            <i class="ri-facebook-fill"></i>
        </li>
        <li>
            <i class="ri-twitter-x-line"></i>
        </li>
        <li>
            <i class="ri-google-fill"></i>
        </li>
    </ul>
</footer>