<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/" id="logo">Sane-Blogger</a>
    <div class="">
        <a href="/user/signOut" id="getStarted">Log out</a>
        <a href="#" id="getStarted">Admin Panel</a>
    </div>
</header>