<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/" id="logo">Sane-Blogger</a>
    <% if(locals.user) { %>
        <div class="">
            <a href="/user/signOut" id="getStarted">Log out</a>
            <!-- Check if the user is a admin or not -->
            <% if(locals.user.isAdmin == 'true') {%>
                <a href="/user/admin" id="getStarted"><%= locals.user.firstName %></a>
            <% }else{ %>
                <!-- If the user is not an admin - redirect to home page -->
                <a href="/" id="getStarted"><%= locals.user.firstName %></a>
            <% }%>
        </div>
    <%}else{ %>
        <a href="/user/signIn" id="getStarted">Get Started</a>
    <%}%>
</header>