<aside id="nav">
    <a href="/user/admin">
        Add blogs
    </a>
    <a href="/user/admin/blogList">
        Blogs list
    </a>
    <a href="/user/admin/subscriptions">
        Subscriptions
    </a>
</aside>