section#display{
    flex-basis:0;
    flex-grow:1.6;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: center;
    gap:20px;
}
.input{
}

.input form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.input form label{
    font-size:19px;
    font-weight: 450;
    margin-bottom: 8px;
}

#inputImageLabel{
    border:1px solid black;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#inputImage{
    display: none;
}

#inputTitle{
    width: 40%;
    font-size:17px;
    padding: 5px 8px;
    outline:none;
    background: none;
    border:1px solid black;
    margin-bottom: 20px;
}
#inputContent{
    max-width: 40%;
    text-wrap: wrap;
    word-wrap: break-word;
    font-size:17px;
    padding: 5px 8px;
    outline:none;
    background: none;
    border:1px solid black;
    margin-bottom: 20px;
}

select#inputCategory{
    padding: 6px 20px;
    font-size:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#createBlogBtn{
    padding: 10px 22px;
    background: none;
    border:1px solid black;
    font-size:19px;
    margin-bottom: 40px;
    transition:.1s all;
}
#createBlogBtn:hover{
    cursor:pointer;
    box-shadow:-2px 2px 2px black;
}

#inputTitle:active,
#inputTitle:focus,
#inputContent:active,
#inputContent:focus
{
    border:2px solid black;
}
