section#display{
    flex-basis:0;
    flex-grow:1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    max-width: 72%;
}

#noblog{
    font-weight: 400;
    font-size:19px
}

#noblog a{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 12px;
    color:black;
    transition:.1s all;
}
#noblog a:hover{
    color:white;
    cursor: pointer;
    background: #000;
}
#blogsList{
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap:20px;
}
#blogsList li{
    border:1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    gap:5px;
}
.image{
    width: 130px;
    aspect-ratio: 1.5/1;
    overflow: hidden;
}
.image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content{
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
}
.content h3{
    font-weight: 500;
    font-size:19px;
}
.content > p{
    font-size:11px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-bottom{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-right: 10px;
    /* margin-top: 10px; */
}

.content-bottom h4{
    font-weight: 450;
    font-size:14px;
    color:rgb(70, 70, 70);
}
.content-bottom p{
    /* font-weight: 450; */
    font-size:11px;
    color:rgb(70, 70, 70);
}

.delete abbr{
    text-decoration: none;
}
.delete abbr a{
    text-decoration: none;
}
.delete i {
    color:black;
}
.delete i:hover {
    cursor:pointer;
    color:red;
}