section#display{
    flex-basis:0;
    flex-grow:1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

#nosub{
    font-weight: 400;
    font-size:19px
}

#subscriptions{
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap:20px;
}
#subscriptions li{
    border:1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#subscriptions li a {
    text-decoration: none;
    color:black;
}
#subscriptions li a:hover {
    cursor:pointer;
    color:red;
}
