main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.subscribe h1{
    font-size:40px;
    font-weight: 400;
}

.subscribeInput {
    padding: 10px;
    min-width: 70%;
}

.subscribeInput form{
    display: flex;
    border:1px solid black;
    box-shadow: -2px 2px 2px black;
}
.subscribeInput form input{
    padding:12px  10px;
    flex-basis:0;
    flex-grow: 1;
    outline:none;
    border:none;
    border-right:1px solid black;
}
.subscribeInput form button{
    padding:12px  30px;
    background: none;
    border:none;
    transition: .2s all;
    font-size:15px;
    font-weight: 500;
}
.subscribeInput form button:hover{
    color:white;
    background: #000;
    cursor:pointer;
}
.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    backgroud: blue;
    width: 100%;
}
.blogFilter{
    display: flex;
    gap:20px;
    padding: 5px 30px;
}
.blogFilter h2{
    font-weight: 500;
    font-size:16px;
    padding: 5px 12px;
    border-radius: 3px;
    transition:.2s all;
}
.blogFilter h2:hover{
    cursor:pointer;
    background: #000;
    color:#fff;
}

.active{
    background: #000;
    color:#fff;
}

/* Blog List section */
.blogList{
    margin-top: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:30px;
}

/* Blog Card Styling*/
.blogList ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
}
.blogcard{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 400px;
    margin-bottom: 25px;
    transition: .1s all ;
}
.blogcard:hover{
    box-shadow:-2px 2px 2px black;
}

.blogImage{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1.5/1;
    
}

.blogImage img{
    width:  100%;
    border-bottom:1px solid black;
    object-fit: contain;
    object-position: center;
}

.blogContent{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 10px;
    gap: 10px;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogContent h4{
    font-weight: 400;
    font-size:14px;
    background: #000;
    color:#fff;
    padding: 3px 8px;
}

.blogContent h3{
    font-weight: 450;
    letter-spacing: -1px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blogContent p{
    font-size:11px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
    max-height: 40%;
}
.blogContent a{
    text-decoration: none;
    color:#505050;
    transition:.1s all;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.blogContent a:hover{
    cursor:pointer;
    color:#000;
}