main{
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 73vh;
}

.loginForm{
    border: 1px solid black;
    padding: 20px;
    width: 35%;
    padding-bottom: 40px;
}

.loginForm h2{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
}


.loginForm > form{
    display: flex;
    flex-direction: column;

}

.inputField{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
}

.inputField input{
    padding: 5px 10px;
    font-size:17px;
    outline: none;

}

.inputField label{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 17px;
    transition: .1s all;
}

.inputField input:focus +label,
.inputField input:not(:placeholder-shown) +label{
    top:-13px;
    left:4px;
    background: white;
    padding: 0px 4px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size:13px;
}

#login-btn{
    background: transparent;
    font-size:18px;
    padding: 10px;
    transition: .2s all;
}

#login-btn:hover{
    cursor: pointer;
    background: #000;
    color:white;
}

.extra {
    background: yellow;
}